@tailwind base;
@tailwind components;
@tailwind utilities;
/* RTL support */
.rtl {
  direction: rtl;
  text-align: right;
}
.shadows-into-light-regular {
  font-family: "Shadows Into Light", cursive;
  font-weight: 400;
  font-style: normal;
}
